* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.calculator {
    background-color: #E0E0E0;
    box-shadow: 10px 10px 30px #C0C0C0,
    -10px -10px 30px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 350px;
}

.screen {
    background-color: #D3D3D3;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #C0C0C0,
    inset -5px -5px 10px #FFFFFF;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    width: 100%;
}

button{
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #C0C0C0,
    -5px -5px 10px #FFFFFF;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    margin: 5px;
    padding: 0 20px;
    transition: box-shadow 0.3s ease;
    width: calc(25% - 10px);
}

.clear {
    background-color: cornflowerblue;
    box-shadow: 5px 5px 10px #C0C0C0
    -5px -5px 10px #FFFFFF;
    color: azure;
    width: 100%;
}

button:hover {
    box-shadow: 2px 2px 10px #C0C0C0,
    inset -2px -2px 5px #ffffff;

}